:root{
    --subnavbg_color: #24CE89;
    --navbg_color: #442DAE;
    --icons_color: #ffffff;
    --gradient_color: rgba(45, 26, 215, 0.5);
    --counter_text_color: #6B6868;
    --card__icon__background: #E4E4E4;
    --button__color: #2D58D0;
    --form_izq_bg_color: #3F3D56;
    --facebook_bg: #3b5998;
    --instagram_bg: #f56040;
    --whatsapp_bg: #128C7E;
}

@font-face {
    font-family: Ebrima;
    src: url(/assets/fonts/ebrima.ttf),
    url(/assets/fonts/ebrima-bold.ttf);
}

@font-face {
    font-family: Eastman;
    src: url(/assets/fonts/EastmanTrial-Bold.otf),
    url(/assets/fonts/EastmanTrial-Regular.otf),
    url(/assets/fonts/EastmanTrial-Heavy.otf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    line-height: 0;
    /*Overflow lo utilizo para que no se desborde el contenido desde el eje X*/
    overflow-x:hidden;
}

.sub__nav{
    background-color: var(--subnavbg_color);
    height: 2em;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    font-size: 1rem;
}

.section__nav{
    background-color: var(--navbg_color);
    font-family: Eastman;
    font-size: 0.65rem;
}

.nv__logo__links{
    display: flex;
    justify-content: space-between;
}

.logo__img{
    width: 10em;
}

.fa-phone,
.fa-map-marker-alt,
.fa-clock{
    color: var(--icons_color);
}

.dropdown-menu{
    width: 250px;
}

.dropdown-menu li{
    font-size: 0.7rem;
    font-weight: 100;
}

.hero__banner img{
    width: 100%;
    height: 90vh;
}

.filtro__azul{
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(var(--gradient_color), var(--gradient_color));
}

.logo__ifts img{
    width: 15em;
}

.inscription__btn{
    display: inline-block;
    padding: 0.5em 2em;
    border: 5px solid var(--icons_color);
    font-size: 1.5rem;
    text-align: center;
    font-family: Ebrima;
    font-weight: bold;
    margin-top: 10px;
    color: var(--card__icon__background);
}

a:link{
    text-decoration: none;
}

.inscription__btn:hover{
    cursor: pointer;
    background-color: var(--navbg_color);
}

.row__logo__button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.div__container{
    /*Toma de referencia al contendor padre, por lo que su 0.0, va a ser el de section__hero__banner*/
    position: absolute;
    /*top:50% se va a posicionar al 50% de la altura del contenedor padre
    y después transform:translateY(-50%), se va a utilizar para posicionar verticalmente al elemento*/
    top:50%;
    transform: translateY(-50%);
    /*z-index: 110, para que se superponga por encima del filtro azul y la imagen*/
    z-index: 110;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__hero__banner{
    position: relative;
    color: var(--icons_color);
}

.ifts__title{
    font-family: Eastman;
    font-size: 2.5rem;
    font-weight: 600;
}

h1 > span{
    font-family: Ebrima;
    font-weight: 600;
}

.counter{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid #FCF6F6;
    box-shadow: inset 1px 4px 6px rgba(0, 0, 0, 0.148),
    1px 4px 6px rgba(0, 0, 0, 0.148);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--counter_text_color);
    font-weight: bold;
}

div > h2{
    font-size: 2.3rem;
}

div > p{
    font-size: 1.3rem;
}

.img__monster > img{
    max-width: 450px;
    width: 100%;
}

.ifts__title__paraph{
    max-width: 550px;
}

.ifts__title__paraph > h2{
    color: #442DAE;
    font-size: 2rem;
    line-height: 2;
    font-family: Eastman;
}

.ifts__title__paraph > p{
    color: var(--counter_text_color);
    font-size: 1rem;
    line-height: 1.8;
    font-family: Ebrima;
}

.card__ifts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 300px;
    height: 300px;
    background-color: var(--icons_color);
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.148);
}

.card__header > h2{
    line-height: 1;
    margin-bottom: 10%;
    font-size: 1rem;
    color: var(--counter_text_color);
    font-family: Eastman;
}

.icon__bg > i{
    color: var(--navbg_color);
    font-size: 3rem;
}

.section__cards__title{
    font-size: 2rem;
    color: var(--navbg_color);
    font-family: Eastman;
    text-align: center;
}

.card__body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon__bg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--card__icon__background);
}

.consulta__boton{
    display: inline-block;
    color: var(--card__icon__background);
    padding: 1em 2em 1em 2em;
    background-color: var(--button__color);
    text-align: center;
    font-family: Ebrima;
    font-weight: bold;
}

.consulta__boton:hover{
    background-color: rgba(13, 0, 255, 0.8);
}

.consulta__titulo{
    color: var(--navbg_color);
    font-family: Ebrima;
    font-weight: bold;
    font-size: 2.3rem;
}

.consulta__parrafo{
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 2px;
}

.vector__message > img{
    width: 90%;
    max-width: 500px;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    max-width: 650px;
    height: 600px;
    font-family: Eastman;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.148);
    font-size: 0.8rem;
}

.formulario-izq{
    width: 600px;
    max-width: 650px;
    height: 600px;
    background-color: var(--form_izq_bg_color);
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.148);
}

.email__svg{
    width: 500px;
}

input[name="nombre"],
input[name="apellido"],
input[name="correo"]{
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 1px solid gray;
    padding-left: 5px;
    color: var(--form_izq_bg_color);
    outline: none;
}

input[type="submit"]{
    background-color: var(--button__color);
    padding: 0.8em;
    border: none;
    color: var(--card__icon__background);
    font-size: 1rem;
}

input[type="submit"]:hover{
    background-color: rgba(13, 0, 255, 0.8);
}

.area__texto{
    min-height: 250px;
    max-height: 250px;
    padding-left: 5px;
    border: none;
    border-bottom: 1px solid gray;
    color: var(--form_izq_bg_color);
    padding-top: 5px;
    outline: none;
}

.footer__container{
    background-color: black;
    height: 230px;
}

.logo__titulo{
    width: 100%;
    max-width: 400px;
}

.circle{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid var(--icons_color);
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle:hover{
    border: none;
}

.fa-facebook-f,
.fa-whatsapp,
.fa-instagram{
    font-size: 2rem;
    color: var(--icons_color);
}

.fb:hover{
    background-color: var(--facebook_bg);
}

.insta:hover{
    background-color: var(--instagram_bg);
}

.wpp:hover{
    background-color: var(--whatsapp_bg);
}

.redes__sociales__titulo{
    color: var(--icons_color);
    font-size: 1.1rem;
    font-family: Eastman;
}

/*Sí la pantalla es igual o menor a 453, desaparece el subnav*/
@media only screen and (max-width: 453px) {
    .sub__nav{
        display:none;
    }

    .vector__message{
        display: none;
    }

    .counter{
        margin-top: 2em;
    }

    .ifts__consultas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 30px;
    }

    .consulta__boton__link{
        display: flex;
        justify-content: center;
    }

    .consulta__titulo{
        font-size: 2.3rem;
    }

    .consulta__parrafo{
        font-size: 1em;
    }

    .inscription__btn{
        margin-bottom: 10px;
    }

    .formulario-izq_col{
        display: none;
    }

    .maps__iframe{
        width: 200px;
        max-width: 360px;
        margin-bottom: 40px;
    }

    .logo__col{
        display: flex;
        justify-content: center;
    }

    .logo__titulo{
        width: 300px;
        margin-bottom: 30px;
    }

    .circle{
        width: 60px;
        height: 60px;
    }

    .map{
        width: 250px;
    }

    .footer__container{
        height: 450px;
    }
    
}

/*Media query para pantallas large*/
@media only screen and (max-width: 1280px){
    .formulario-izq{
        width: 570px;
        max-width: 570px;
    }

}